{% load static %}

<!DOCTYPE html>
<html lang="en">


<!-- register24:03-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static '/img/favicon.ico' %}">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <div class="main-wrapper  account-wrapper">
        <div class="account-page">
            <div class="account-center">
                <div class="account-box">
                    <form action="" method="POST" class="form-signin">
                        {% csrf_token %}
						<div class="account-logo">
                            <a href="{% url 'login' %}"><img src="{% static '/img/logo-dark.png' %}" alt=""></a>
                        </div>
                        <div class="form-group">
                            <label>Username</label>
                            {{form.username}}
                            
                        </div>
                        <div class="form-group">
                            <label>Role</label>
                            {{form.first_name}}
                            
                        </div>
                        <div class="form-group">
                            <label>Email Address</label>
                            {{form.email}}
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            {{form.password1}}
                        </div>
                        <div class="form-group">
                            <label>Confirm Password</label>
                            {{form.password2}}
                        </div>
                        
                        <div class="form-group text-center">
                            <button class="btn btn-primary account-btn" type="submit">Signup</button>
                        </div>
                        <div class="text-center login-link">
                            Already have an account? <a href="{% url 'login' %}">Login</a>
                        </div>
                    </form>
                </div>
                {{form.errors}}
            </div>
        </div>
    </div>
    <script>
                        /* Because i didnt set placeholder values in forms.py they will be set here using vanilla Javascript
        //We start indexing at one because CSRF_token is considered and input field 
         */

        //Query All input fields
        var form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder='Username';
        form_fields[2].placeholder='Doctor OR Nurse';
        form_fields[3].placeholder='Email';
        form_fields[4].placeholder='Enter password';
        form_fields[5].placeholder='Re-enter Password';


        for (var field in form_fields){ 
            form_fields[field].className += ' form-control'
        }
    </script>
    <script src="assets/js/jquery-3.2.1.min.js"></script>
	<script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/app.js"></script>
</body>


<!-- register24:03-->
</html>